<ion-tabs class="tabs-icon-top tabs-color-active-positive">
	<ion-tab title="Map" icon-off="ion-android-compass" icon-on="ion-android-compass" href="#/shante/map">
		<ion-nav-view name="map"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Notif" icon-off="ion-android-notifications" icon-on="ion-android-notifications" href="#/shante/notif">
		<ion-nav-view name="notif"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Account" icon-off="ion-person" icon-on="ion-person" href="#/shante/person">
		<ion-nav-view name="account"></ion-nav-view>
	</ion-tab>
</ion-tabs>