/* Empty. Add your own CSS if you like */
.scroll {
	height: 100%;
}

.map-holder {
	height: calc(100% - 50px);
	width: 100%;
	position: relative;
}

#map {
	width: 100%;
	height: 100%;
}

.navigator {
	float: left;
}